.main_conatiner {
    background-image: url("../../public/assets/profileBackground.png");
    height: 430px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}
.overlay_conatiner {
    background-image: url("../../public/assets/profile-bg.png");
    height: 430px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    inset: 0;

}

.profile_no {
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #fff;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B9E6F5;
    position: relative;
    top: 108px;
    left: 80px;
    color: #000;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 5px;
}

.dashboardBtn {
    padding: 8px;
    border: none;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: #B9E6F5;
    border-radius: 100px;
    border: 1px solid #B9E6F5;
    position: relative;
    z-index: 20;
}

.planBtn {
    padding: 8px 12px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-left: 8px;
    border: 1px solid white;
    gap: 3.8px;
    position: relative;
    z-index: 20;
}

.profile_container {
    border-radius: 20px 20px 0px 0px;
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 24px;
    background-color: #fff;
    color: #000;
    text-align: center;
    position: relative;
    /* z-index: 2; */
}

.redoBtn {
    width: 71px;
    margin: 0px auto;
    color: #3592B1;
    padding: 6px 12px;
    /* border: 1px solid #B9E6F5; */
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: #d3d3d3;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.15px;
}


.card p {
    color: #AFB3BC;
    font-weight: 500;
    font-size: 12px;
}

.mini_card {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(161, 219, 239, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.personality {
    height: auto;
    border-radius: 10px;
    background-color: rgba(237, 240, 244, 0.90);
    padding: 14px;
}

.personality p {
    display: flex;
    align-items: center;
}

.radius_div {
    height: 46px;
    width: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radius_container {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 5px;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn {
    margin: 0px 8px;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 40px;
    background: #EDF0F4;
}