
.main_conatiner{
    height: 100vh;
    background: linear-gradient(180deg,
            #a1dbef 34.8%,
            #caeefa 74.84%,
            rgba(218, 245, 254, 0.76) 97.57%);;
}
.container {
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;
    border-radius: 32px 32px 0px 0px;
}

.creditBtn {
    color: #fff;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: #A2DCF0;
    width: 100%;
    margin-top: 16px;
}

.viewAll {
    color: #B9E6F5;
    font-size: 14px;
    font-weight: 700;
}

.recent_div {
    width: 155px;
    padding: 16px;
    border-radius: 15px;
    background-color: #EDF0F4;
}

.recent_div_heading {
    color: var(--text-black-1, #404148);
    font-size: 12px;
    font-weight: 700;
}

.date {
    color: var(--text-black-2, #7C7D81);
    font-size: 10px;
    font-weight: 400;
}

.info {
    margin-top: 12px;
    color: var(--text-black-1, #404148);
    font-size: 10px;
    font-weight: 400;
}


.sub_container {
    margin-top: 30px;
    width: 100%;
    height: auto;
    border-radius: 32px 32px 0px 0px;
    background-color: #F8F8F8;
    padding: 19px 24px;
    text-align: center;
}

.card {
    display: flex;
    width: 100%;
    padding: 16px;
    align-items: center;
    border-radius: 24px;
    background-color: var(--text-white-1, #FFF);
    margin-top: 8px;
}

.ellips {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.20);
}

.disc{
    color: var(--text-black-2, #7C7D81);
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}