.main_conatiner {
    height: 100vh;
    background: linear-gradient(180deg,
            #a1dbef 34.8%,
            #caeefa 74.84%,
            rgba(218, 245, 254, 0.76) 97.57%);
    ;
}


.container {
    width: 100%;
    min-height: 100vh;
}

.search_div {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #D6D6D6;
    padding: 4px 6px 4px 22px;
}

.search_bar {
    width: 90%;
    outline: none;
}