.main_container {
    /* background-image: url('../../public//assets/map.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    position: relative;
}

.conatiner {
    background-color: #fff;
    padding: 24px;
    margin-top: 350px;
    border-radius: 24px 24px 0px 0px;
    position: relative;
}

.location {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #ABB0AF;
}


.mdi_like {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #A1DBEF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp_div {
    width: 47px;
    height: 47px;
    border-radius: 13px;
    background: var(--g, #A1DBEF);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.time_card {
    width: 75px;
    height: 75px;
    border-radius: 18px;
    background-color: rgba(161, 219, 239, 0.30);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sub_container {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 24px 24px 0px 0px;
    background-color: rgba(237, 240, 244, 0.31);
    padding: 19px 24px;
}

.card {
    width: 100%;
    height: auto;
    padding: 13px;
    margin-top: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img_div {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.sidebar_card{
    width: auto;
    padding: 15px;
    margin-top: 12px;
    border-radius: 10px;
    border: 2px solid #DAF5FE;
}

.sub_img{
    margin: 3px;
    border-radius: 8px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_line{
    width: 3px;
    background-color: #E5F8FE;
}

.sidebar_circle{
    width: 16px;
    height: 16px;
    border: 3px solid #E5F8FE;
    border-radius: 50%;
    margin: 3px 0px;
}