@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.screen-container {
  width: 400px;
  max-width: 400px;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    #a1dbef 34.8%,
    #caeefa 74.84%,
    rgba(218, 245, 254, 0.76) 97.57%
  );
  height: 100vh;
  padding: 0 24px;
}

@media only screen and (max-width: 767px) {
  .screen-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
